/* Navbar */
#my-navbar{
    height: 65px;
    background-color: #ffeee6;
}

#navbar-title{
    text-align: left;
    font-size: 24px;
    font-weight: bold; 
    color: #993300;
    margin-top: 24px;
}

.navbar-header {
    font-size: 40px;
    margin-top: 10px;
}

/* Main Container */

#main-container {
    margin-bottom: 20px;
}

/* Reset Button */

#reset-button {
    width: 260px;
    height: 50px;
    font-size: 24px;
    background-color: #ff661a;
    color: #ffffff;
}

#reset-button:hover {
    background-color: #cc4400;
}

/* World Map */

#world-map {
    height: 400px;
    width: 850px;
    position: relative;
}

#map-row {
    padding: 10px;
    background-color: #ffeee6;
    width: 100%;
    margin-left: 0;
}

.datamaps-bubble {
    /* PENDING - Eliminate stroke-width on the bubbles */
    /*border-color: transparent;*/
    stroke: #801a00 !important;
    stroke-width: 1px !important;
    /*border-width: 0px;*/
}

#toggle-map {
    border-radius: 5px;
    font-style: italic; 
    font-size: 20px;
    padding: 4px;
    background-color: #ff661a;
    color: #ffffff;
}

#toggle-map:hover {
    background-color: #cc4400;
}

/* Selector and reset */

#selector-and-reset {
    margin: 0;
    padding: 10px;
    background-color: #ffeee6;
}

#reset-button {
    margin-top: 10px;
}



/* Center graphs */

.center-chart-main {
    margin-top: 20px;
    margin-left: 0;
    /*display: flex;*/
    background-color: #ff854d;
    padding: 3px;
    width: 100%;
}

.center-chart {
    /*margin-top: 20px;*/
    /*display: flex;*/
    background-color: #ffeee6;
    height: 500px;
}

.scatter-plot {
    padding: 10px;
    background-color: #ffeee6;
    width: 100%;
    margin-left: 0;
    /*height: 500px;*/
}

#table-and-pagination {
    /*margin-top: 20px;*/
    /*display: flex;*/
    margin: 0;
    padding: 10px;
    background-color: #ffeee6;
    height: 550px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Button */
#clustersBtn {
    border-radius: 5px;
    border-color: transparent;
    font-size: 16px;
    padding: 4px;
    background-color: #ff661a;
    color: #ffffff;
}

#clustersBtn:hover {
    background-color: #cc4400;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px 20px 30px;
    border: 1px solid #888;
    font-size: 12px;
    width: 60%;
}

.modal-content h3 {
    color: #993300;
}

.modal-initial {
    color: #cc4400;
    font-weight: bold;
}

/* The Close Button */
.close {
    color: #ff661a;
    opacity: 0.8;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #cc4400;
    text-decoration: none;
    cursor: pointer;
}

/* dataTable */

.dc-table-label {
    display: none;
}

table {
    margin-left:40px;
    background-color: #ffffff;
}

.heading {
    padding: 5px 0px 5px 15px;
    color: #993300;
}

#heading-1 {
    width: 60px;
}

#heading-2 {
    width: 500px;
}

#heading-3 {
    width: 80px;
}

.dc-table-column {
    padding-left: 15px;
}

#paging {
    margin-top: 30px;
}

.paging-btn {
    background-color: #ff661a;
    color: #ffffff;
}

.paging-btn:hover {
    background-color: #cc4400;
    color: #ffffff;
}

/* Footer */
.page-footer {
    background-color: #ff9966;
}

.page-footer h5 {
    font-weight: bold;
    color: #993300;
}

.footer-copyright {
    background-color: #993300;
    color: #ffffff;
}

.footer-link {
    color: #ffff99;
    font-weight: bold;
    text-decoration: none;
}

.footer-link:hover {
    color: #ffff33;
    text-shadow: #ffff99;
}

.footer-link:active {
    color: #ffff66;
    text-decoration: none;
}

.footer-link:visited {
    color: #ffff33;
    text-decoration: none;
}

