/* Navbar */
#my-navbar{
    height: 65px;
}

#navbar-title{
    text-align: center;
    font-size: 30px;
    color: #993300;
    margin-top: 12px;
}

/* World Map */

#world-map {
    height: 400px;
    width: 850px;
    position: relative;
}

/* dataTable */

.dc-table-label {
    display: none;
}

/* Footer */
.page-footer {
    background-color: #ff9966;
}

.page-footer h5 {
    font-weight: bold;
    color: #993300;
}

.footer-copyright {
    background-color: #993300;
    color: #ffffff;
}

.footer-link {
    color: #ffff99;
    font-weight: bold;
    text-decoration: none;
}

.footer-link:hover {
    color: #ffff33;
    text-shadow: #ffff99;
}

.footer-link:active {
    color: #ffff66;
    text-decoration: none;
}

.footer-link:visited {
    color: #ffff33;
    text-decoration: none;
}

